<ng-container>
  <h2 id="title" class="mat-h2 myReviewsTitle">{{title}}</h2>
  <div class="paper" *ngIf="deposits.length">
    <mat-card class="noshadow" *ngFor="let deposit of deposits">
      <div class="flex">
        <span *ngIf="deposit.status==DEPOSIT_STATUS.draft && isMyWork" class="badge-info badge-impact">Draft</span>
        <span *ngIf="deposit.status==DEPOSIT_STATUS.inReview && isMyWork" class="badge-info badge-accent">In Review</span>
        <span *ngIf="deposit.status==DEPOSIT_STATUS.published && isMyWork" class="badge-info badge-secondary">Published</span>
        <span *ngIf="deposit.publicationDate && !smallScreen" class="badge-info badge-primary">{{deposit.publicationDate | date:'dd MMMM yyyy'}}</span>
        <span *ngIf="deposit.accessRight && !smallScreen" class="badge-info badge-primary">{{deposit.accessRight}}</span>
        <span *ngIf="deposit.publicationType && !smallScreen" class="badge-info badge-primary">{{deposit.publicationType}}</span>
        <span *ngIf="deposit.reviewType && !smallScreen" class="badge-info badge-primary"
              matBadge="{{ deposit.peerReviews?.length }}" matBadgePosition="after" matBadgeColor="primary">
            {{deposit.reviewType}}
        </span>
      </div>
      <mat-card-header>
        <img mat-card-avatar ngxGravatar [md5Hash]="deposit.gravatar"/>
        <mat-card-title>
          <a [routerLink]="['/deposits', deposit._id.$oid, 'view']">
            {{ deposit.title }}
          </a>
        </mat-card-title>
        <mat-card-subtitle id="hiddenAuthors" *ngIf="deposit.status==DEPOSIT_STATUS.inReview && deposit.authors.length==0">Hidden authors</mat-card-subtitle>
        <mat-card-subtitle id="authors">
            <span *ngFor="let author of deposit.authors">{{author}}; </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-show-more [text]="deposit.abstract" [id]="deposit._id.$oid"></app-show-more>
      </mat-card-content>
    </mat-card>
    <app-paging *ngIf="pagination" #pagingBarLinks pageLinkCount="5" [firstLast]="false" [pageSize]="pageSize"
                [total]="totalDeposits"
                (change)="paginate($event)" layout-align="center" class="mat-body-2">
      <span>{{pagingBarLinks.range}} of {{pagingBarLinks.total}}</span>
    </app-paging>
  </div>
  <div *ngIf="query!=='' && !deposits.length" class="nofound mat-title">No deposits found for search: '{{query}}'.</div>
</ng-container>
