.paper {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

.mat-card {
  margin: 5px auto auto;
  text-align: left;
}

.mat-card-content {
  text-align: justify;
}

.mat-card-avatar {
  background-size: cover;
  margin-top: 20px;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}


a {
  text-decoration: none;
}

.nofound {
  padding-top: 40px;
  text-align: center;
}

.hand-pointer {
  cursor: pointer;
}

.mat-card-title {
  a {
    color: black;
  }

  font-size: 1.2rem;
  margin-top: 1rem;
}

.mat-card-subtitle {
  font-size: .85rem;
}

.button_details {
  display: inline-block;
  font-size: 90%;
  line-height: 2;
}

.push {
  margin-left: auto;
}

.badge-info {
  margin: 0.25em;
}

.orcid-img {
  width: 2.5%;
  height: auto;
  vertical-align: middle;
  margin-bottom: .2em;
}


.myReviewsTitle {
  text-align: center;
  margin: 2%;
}
