.cookie-consent {
  z-index: 10;
  white-space: pre-wrap;
  min-height: 4rem;
  height: auto;
  margin-bottom: 30px;
  justify-content: space-between;

  a {
    text-decoration: underline;
  }
}

.feedback {
  position: fixed;
  left: 10px;
  bottom: -7px;
  z-index: 2;
}
