<div class="app-paging" (change)="$event.stopPropagation()">
  <ng-content></ng-content>
  <div class="app-paging-navigation">
    <a mat-icon-button class="app-paging-first-page" type="button" *ngIf="firstLast"
       [attr.disabled]="isMinPage() ? true : null"
       [routerLink]="['./']" [queryParams]="{page: 1 }" queryParamsHandling="merge">
      <mat-icon>{{ isRTL ? 'skip_next' : 'skip_previous' }}</mat-icon>
    </a>
    <a mat-icon-button class="app-paging-prev-page" type="button" *ngIf="!isMinPage()"
       [routerLink]="['./']" [queryParams]="{page: this.page - 1 }" queryParamsHandling="merge">
      <mat-icon>{{ isRTL ? 'navigate_next' : 'navigate_before' }}</mat-icon>
    </a>
    <ng-template *ngIf="pageLinkCount > 0" let-link let-index="index" ngFor [ngForOf]="pageLinks">
      <a [routerLink]="['./']" [queryParams]="{page: link }" queryParamsHandling="merge"
         class="app-paging-link-page" mat-icon-button
         type="button"
         [color]="page === link ? 'accent' : ''"
      >{{link}}</a>
    </ng-template>
    <a mat-icon-button class="app-paging-next-page" type="button" *ngIf="!isMaxPage()"
       [routerLink]="['./']" [queryParams]="{page: this.page + 1 }" queryParamsHandling="merge">
      <mat-icon>{{ isRTL ? 'navigate_before' : 'navigate_next' }}</mat-icon>
    </a>
    <a mat-icon-button class="app-paging-last-page" type="button" *ngIf="firstLast"
       [attr.disabled]="isMaxPage() ? true : null"
       [routerLink]="['./']" [queryParams]="{page: maxPage }" queryParamsHandling="merge">
      <mat-icon>{{ isRTL ? 'skip_previous' : 'skip_next' }}</mat-icon>
    </a>
  </div>
</div>
