<mat-card role="main" class="noshadow flex-basis-0 flex-grow-1">
  <div class="flex">
    <div class="mat-h1 primary">Open Peer Review Report
      <button *ngIf="isOwner"
              mat-icon-button
              [routerLink]="['/reviews', peerReview._id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content class="flex flex-direction-column">
    <div class="section">
      <h2 class="mat-h2 primary">
        <mat-icon>people_alt</mat-icon>
        Author
      </h2>
      <p>{{peerReview.author}}</p>
    </div>
    <div class="section">
      <h2 class="mat-h2 primary">
        <mat-icon>menu_book</mat-icon>
        <span>Publication</span>
      </h2>
      <a [routerLink]="['/deposits', deposit._id, 'view']">{{deposit.title}}</a>
    </div>
    <div class="section">
      <h2 class="mat-h2 primary">
        <mat-icon>comment</mat-icon>
        Comments
      </h2>
      <p>{{peerReview.comments}}</p>
    </div>
    <div class="section">
      <div class="flex">
        <h2 class="mat-h2 primary">
          <mat-icon>gavel</mat-icon>
          Decision
          <a mat-icon-button href="https://help.orvium.io/reviews/reviewers-code/#decision-types" target="_blank">
            <mat-icon>help_outline</mat-icon>
          </a>
        </h2>
      </div>
      <p *ngIf="decisionSelected" class="flex flex-1 align-center">
        <mat-chip-list>
          <mat-chip [color]=decisionSelected.color selected matTooltip={{decisionSelected.description}}>
            <mat-icon>{{decisionSelected.icon}}</mat-icon>
            {{decisionSelected?.viewValue}}
          </mat-chip>
        </mat-chip-list>
      </p>
    </div>
    <div class="section">
      <h2 class="mat-h2 primary">
        <mat-icon>attach_file</mat-icon>
        Files
      </h2>
      <app-file-list [files]="files"
                     [baseHref]="environment.apiEndpoint+'/reviews/'+peerReview._id+'/file'">
      </app-file-list>
    </div>
    <mat-card-subtitle *ngIf="peerReview.wasInvited == true">
      <mat-icon>mark_email_read</mat-icon>
      The reviewer was invited by the author
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="ethereumService.isAvailable">
      Number of ORV tokens rewarded to this reviewer
      <button mat-mini-fab matTooltip="Number of ORV tokens rewarded to this reviewer"
              color="primary">{{ peerReview.reward || 0 }}
      </button>
      ORVs
      <span *ngIf="deposit.owner===profile?.userId">
      <button mat-raised-button color="accent" [disabled]="!peerReview.transactions"
              (click)="showPayReviewer()"
              aria-label="Reward reviewer">
        <mat-icon>monetization_on</mat-icon>
        Reward
        <orv-spinner name="spinnerPayReviewer" [fullScreen]="false"></orv-spinner>
      </button>
    </span>
    </div>
    <div>
      <button mat-raised-button color="primary" [routerLink]="['/deposits', deposit._id, 'view']">
        Go to publication
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ngx-smart-modal #displayPayReviewer identifier="displayPayReviewer" class="modal light-theme">
  <h2 class="mat-h2 primary">Reward peer reviewer</h2>
  <p class="black">Please enter the number of ORV tokens that you want to give to the peer reviewer.</p>
  <mat-form-field class="flex flex-direction-column">
    <input matInput #numberPayReviewer required type="number" min="1" max="100"
           [formControl]="numberPayReviewerControl" placeholder="Number of tokens">
    <mat-error *ngIf="numberPayReviewerControl.invalid">Set value between 1 and 100</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="warn" class="dialogButton"
          (click)="ngxSmartModalService.getModal('displayPayReviewer').close()">No
  </button>
  <button mat-raised-button color="primary" class="dialogButton"
          (click)="!numberPayReviewerControl.invalid && payReviewer(numberPayReviewer.value)">Yes
  </button>
</ngx-smart-modal>
