<div class="hero">
  <h1 class="mat-display-3 primary">Become a <strong>reviewer</strong></h1>
  <h1 class="mat-title grey">Showcase your work as peer reviewer to obtain recognition and increase your professional opportunities.</h1>
</div>
<div class="container" [formGroup]="reviewerFormGroup">
  <mat-card>
    <h1 class="mat-title grey">YOUR PREFERENCES</h1>
    <p>Number of simultaneous reviews</p>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      min="1"
      max="25" (change)="updateValueSlider($event)"></mat-slider>
    <h1 class="mat-subheading-1 grey" align="right">Papers/Month</h1>
    <p>Disciplines you are interested in</p>
    <mat-form-field appearance="outline" class="disciplines">
      <mat-chip-list #disciplineChips aria-label="Discipline selection" formControlName="disciplines">
        <mat-chip *ngFor="let discipline of reviewerFormGroup.get('disciplines')?.value"
                  (removed)="removeDiscipline(discipline)">
          {{discipline}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input matInput id="inputDiscipline" #disciplineInput matChipInputAddOnBlur="true" [formControl]="disciplinesControl"
               [matAutocomplete]="autoCompleteDisciplines" [matChipInputFor]="disciplineChips"
               (matChipInputTokenEnd)="addDiscipline($event)" data-lpignore="true">
      </mat-chip-list>
      <mat-autocomplete id="autocomplete" #autoCompleteDisciplines="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let discipline of filteredDisciplines | async" [value]="discipline.name">
          {{discipline.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="reviewers-code" align="right">
      <mat-checkbox formControlName="reviewersCode" class="grey">
        I accept <a class="primary" href="https://help.orvium.io/reviews/reviewers-code/" target="_blank">Reviewers Code</a>
      </mat-checkbox>
      <br>
      <button mat-raised-button color="primary"
              [disabled]="!reviewerFormGroup.get('reviewersCode')?.value || reviewerFormGroup.get('disciplines')?.value.length == 0"
              (click)="becomeReviewer()">Become a reviewer
      </button>
    </div>
  </mat-card>
</div>
