.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

mat-card {
  width: 70%;
}

mat-slider {
  width: 100%;
}

.disciplines {
  width: 100%;
  margin-bottom: 10px;
}

.reviewers-code {
  margin-top: 3%;
}
