<mat-sidenav-container class="backgroundColor">
  <mat-sidenav
    #sidenav [mode]="smallScreen ? 'over' : 'side'"
    [fixedInViewport]="smallScreen"
    fixedTopGap="56">
    <div class="left-sidenav">
      <mat-nav-list *ngIf="profile">
        <section>
          <button matSubheader mat-menu-item [routerLink]="['dashboard']" routerLinkActive="active-link">
            <mat-icon>speed</mat-icon>
            <span>Dashboard</span>
            <span class="badge badge-success">Soon</span>
          </button>
          <button matSubheader mat-menu-item routerLinkActive="active-link" class="sidenav-mypublications"
                  (click)="closeSidenav()"
                  [routerLink]="['publications']">
            <mat-icon>file_copy</mat-icon>
            My Publications
          </button>
          <button matSubheader mat-menu-item routerLinkActive="active-link" (click)="closeSidenav()"
                  [routerLink]="['starred']">
            <mat-icon>star_border</mat-icon>
            Starred publications
          </button>
          <button *ngIf="!profile?.isReviewer" (click)="isReviewer()" matSubheader mat-menu-item
                  class="sidenav-reviews">
            <mat-icon>thumbs_up_down</mat-icon>
            Reviews
          </button>
          <mat-expansion-panel [ngClass]="{'active-link' : router.url.startsWith('/reviews')}"
                               *ngIf="profile?.isReviewer"
                               [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <mat-icon>thumbs_up_down</mat-icon>
                Reviews
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <button matSubheader mat-menu-item (click)="closeSidenav()" [routerLink]="['reviews/paperstoreview']"
                      routerLinkActive="active-sub-link">
                Papers to Review
              </button>
              <button matSubheader mat-menu-item (click)="closeSidenav()" [routerLink]="['reviews/myreviews']"
                      routerLinkActive="active-sub-link">
                My Reviews
              </button>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <button matSubheader mat-menu-item routerLinkActive="active-link" (click)="closeSidenav()">
            <mat-icon>settings</mat-icon>
            Configuration
            <span class="badge badge-success">Soon</span>
          </button>
          <button *ngIf="false"
                  matSubheader mat-menu-item (click)="closeSidenav()"
                  routerLinkActive="active-link"
                  [routerLink]="['admin']">
            <mat-icon>supervisor_account</mat-icon>
            <span>Admin</span>
          </button>
        </section>
      </mat-nav-list>
      <button mat-stroked-button color="primary" class="button-invite"
              (click)="openInviteDialog()">Invite to Orvium
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav #rightSidenav position="end" mode="over">
    <app-notifications-panel></app-notifications-panel>
  </mat-sidenav>

  <mat-sidenav-content id="sidenav-content">
    <orv-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#377dff" type="ball-clip-rotate"
                 [fullScreen]="true">
    </orv-spinner>
    <router-outlet class="backgroundColor" (activate)="resetPosition()"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

