.paper {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

.mat-card-title {
  a {
    color: black;
  }

  font-size: 1.2rem;
  margin-top: 1rem;
}

.mat-card-subtitle {
  font-size: .85rem;
}

.mat-card {
  margin: 5px auto auto;
  text-align: left;
}

.mat-card-content {
  text-align: justify;
}

.mat-card-avatar {
  background-size: cover;
  margin-top: 20px;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.badge-info {
  margin: 0.25em;
}

a {
  text-decoration: none;
}

.nofound {
  padding-top: 40px;
  text-align: center;
}

.hand-pointer {
  cursor: pointer;
}

.myReviewsTitle {
  text-align: center;
  margin: 2%;
}

.spacer {
  flex: 1 1 auto;
}
