<mat-table [dataSource]="reviews">
  <ng-container matColumnDef="publication">
    <mat-header-cell *matHeaderCellDef>Publication</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a routerLink="../../reviews/{{element._id}}/view">{{element.deposit.title}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef class="orv-mobile-hidden">Comments</mat-header-cell>
    <mat-cell *matCellDef="let element" class="orv-mobile-hidden">{{element.comments}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="decision">
    <mat-header-cell *matHeaderCellDef class="orv-mobile-hidden">Decision</mat-header-cell>
    <mat-cell *matCellDef="let element" class="orv-mobile-hidden">{{element.decision | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a *ngIf="element.status == 'draft'" mat-flat-button routerLink="../../reviews/{{element._id}}/edit"
         class="primary"><strong>Edit</strong></a>
      <a *ngIf="element.status == 'published'" mat-flat-button routerLink="../../reviews/{{element._id}}/view"
         class="primary"><strong>View</strong></a>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
</mat-table>
