@import '../../styles';

.mat-toolbar {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
  min-height: 64px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em;
}

.logo {
  width: 120px;
  height: 40px;
}
.logoIcon {
  width: 36px;
  height: 36px;
}

.search {
  flex-grow: 3;
  align-items: center;
}

.mat-slide-toggle {
  margin: 0 10px 0 10px;
}

.push-none {
  margin: 0;
  text-align: center;
}

.push {
  margin-left: auto;
}

.place-icon {
  height: auto;
  vertical-align: middle;
  margin-bottom: .2em;
  margin-right: .1em;
}

.location {
  mpadding-top: 40px;
}

.text-wrap {
  white-space: normal;
}

::ng-deep .mat-menu-content {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-menu-panel {
  min-width: 20em !important;
}


::ng-deep .mat-list-item {
  height: auto !important;
}

::ng-deep .notification-icon {
  font-size: 3em !important;
  height: auto !important;
  width: auto !important;
}

::ng-deep .notification-close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em !important;
  color: darkgrey;
}

mat-divider.style-fix {
  height: 36px;
  margin-left: 8px;
  margin-right: 8px;
}

.avatar-wrapper {
    position: relative;
    margin: 5px;
    display: inline-flex;
    align-items: center;

    .avatar {
    }

}

.profile-info{
  text-align: center;
}

.verified-info{
  margin-left: 1.5em;
  margin-top: 0.3em;
}


.mat-subheading-1 {
    margin: 0 0 0 0px !important;
    font-size: 85%;
}


.badge-secondary {
  padding: 0em .7em;
}


.pending{
  color: #757575;
}

.mat-divider {
  margin-top: .5em;
}

.nav-button {
  display: inline-block;
    padding: .1em .8em;
    font-size: 80%;
    font-weight: 400;
    line-height: 4;
    margin-left: 1.5em;

}

.mat-nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

