<mat-toolbar class="mat-elevation-z6 backgroundColor">
  <div class="toolbar-container">

    <button *ngIf="profile" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a *ngIf="!smallScreen" mat-button [routerLink]="['/']">
      <mat-icon color="primary" class="logo md-48" aria-label="Orvium logo" svgIcon="orvium"></mat-icon>
    </a>
    <a *ngIf="smallScreen" mat-button [routerLink]="['/']">
      <mat-icon color="primary" class="logoIcon" aria-label="Orvium logo" svgIcon="orviumIcon"></mat-icon>
    </a>
    <p class="search">
      <mat-form-field *ngIf="!smallScreen" appearance="outline">
        <mat-label>Search Publications</mat-label>
        <input matInput placeholder="Search papers by title, abstract, etc." [(ngModel)]="searchInput"
               (keydown.enter)="searchPapers()" type="search">
        <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <button *ngIf="!smallScreen" mat-button matSuffix aria-label="search" [routerLink]="['/advanced-search']">
      Advanced Search
    </button>
    <span class="right"></span>
    <ng-container *ngIf="ethereumIsEnabled">
      <button mat-button matTooltip="You are connected to this Ethereum network">
        <fa-icon [icon]="['fab', 'ethereum']" size="lg"></fa-icon>
        {{ this.ethereumService.currentNetwork?.value?.displayName }}
      </button>
    </ng-container>
    <mat-slide-toggle *ngIf="!smallScreen" color="primary"
                      [checked]="ethereumIsEnabled"
                      [disabled]="(this.ethereumService.isAvailable | async) === false"
                      (change)="toggleBlockchain($event)">Blockchain
    </mat-slide-toggle>
    <mat-divider *ngIf="!smallScreen" [vertical]="true" class="style-fix"></mat-divider>

    <button mat-icon-button *ngIf="smallScreen" [matMenuTriggerFor]="searchMenu">
      <mat-icon>search</mat-icon>
    </button>

    <mat-menu #searchMenu="matMenu">
      <mat-form-field class="search" appearance="outline" (click)="$event.stopPropagation()">
        <mat-label>Search Publications</mat-label>
        <input matInput placeholder="Search papers by title, abstract, etc." [(ngModel)]="searchInput"
               (keyup.enter)="searchPapers()">
        <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button matSuffix aria-label="search" [routerLink]="['/advanced-search']">
        Advanced Search
      </button>
    </mat-menu>


    <div *ngIf="profile">
      <button mat-icon-button (click)="create()">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleRightSidenav()">
        <mat-icon matBadge="{{notifications?.length}}" matBadgeColor="accent"
                  [ngClass]="{'notification-animation': notifications.length > 0}"
                  [matBadgeHidden]="notifications?.length == 0">
          notifications
        </mat-icon>
      </button>
    </div>

    <a mat-icon-button href="https://help.orvium.io/" target="_blank">
      <mat-icon>help_outline</mat-icon>
    </a>
    <div *ngIf="profile">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <img mat-card-avatar ngxGravatar [md5Hash]="profile.gravatar || '2e7854c294602808422223306eff0e33'" class="mat-avatar avatar"/>
      </button>
      <mat-menu #profileMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="profile-menu">
        <div class="mat-subheading-2 push-none textThemeColor">Profile</div>
        <mat-nav-list dense>
          <mat-divider></mat-divider>
          <section>
            <div class="profile-info">
              <div>
                <img mat-card-avatar ngxGravatar [md5Hash]="profile.gravatar || '2e7854c294602808422223306eff0e33'" [size]="70"/>
              </div>
              <div class="mat-body primary">{{ profile?.firstName }} {{ profile?.lastName }}</div>
              <div class="mat-body">{{ profile.userType | titlecase }}</div>
              <div class="mat-body" *ngIf="profile.userType !== USER_TYPE.citizen">{{ profile?.institution }}</div>
            </div>
            <mat-divider></mat-divider>
            <button class="nav-button" (click)="changeTheme()" matSubheader mat-menu-item>
              <mat-icon>brightness_6</mat-icon>
              Switch theme
            </button>
            <button class="nav-button" matSubheader mat-menu-item [routerLink]="['profile', profile.nickname]"
                    routerLinkActive="active-sub-link">
              <mat-icon>perm_identity</mat-icon>
              Profile
            </button>
            <button class="nav-button"
                    (click)="logout()"
                    matSubheader mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </section>
        </mat-nav-list>
      </mat-menu>
    </div>

    <button *ngIf="!profile" (click)="login()" mat-flat-button color="primary">
      <mat-icon>person</mat-icon>
      Log In
    </button>
  </div>

</mat-toolbar>

<ngx-smart-modal #createNewDeposit identifier="createNewDeposit" class="modal light-theme" [formGroup]="newPublicationForm">
  <h2 class="mat-h2 primary">Please, enter below a title for your publication:</h2>
  <mat-form-field class="flex flex-direction-column">
    <mat-label>Publication title</mat-label>
    <input matInput formControlName="title" (keydown.enter)="save()">
  </mat-form-field>
  <br>
  <button mat-raised-button class="dialogButton" color="primary" (click)="save()" [disabled]="!newPublicationForm.valid">
    Create
  </button>
  <button mat-button (click)="createWithDOI()" color="primary">Import publication by DOI</button>
</ngx-smart-modal>

<ngx-smart-modal #createNewDepositWithDOI identifier="createNewDepositWithDOI" class="modal light-theme"
                 [formGroup]="newPublicationWithDOIForm">
  <h2 class="mat-h2 primary">Please, enter below your publication DOI:</h2>
  <p class="black">All public information from the publication will be imported.</p>
  <mat-form-field class="flex flex-direction-column">
    <mat-label>Publication DOI</mat-label>
    <input matInput formControlName="doi" (keydown.enter)="saveWithDOI()" placeholder="10.1016/j.cub.2016.10.008">
  </mat-form-field>
  <br>
  <button mat-raised-button class="dialogButton" color="primary" (click)="saveWithDOI()" [disabled]="!newPublicationWithDOIForm.valid">
    Create
  </button>
</ngx-smart-modal>
