.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.deposits-with-paginator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
}
