<div class="container">
  <div class="center">
    <h1 class="mat-display-1 primary">404</h1>
    <h2 class="mat-h2">Oops, the page you're looking for does not exist.</h2>

    <hr style="background-color: rgb(130, 119, 201);">

    <div class="mat-h3">
      <p>You may want to head back to the homepage.<br>If you think something is broken, report a problem.</p>
    </div>

    <div>
      <button mat-raised-button [routerLink]="['']" color="primary">
        <mat-icon>home</mat-icon>
        Go to Homepage
      </button>
      <button mat-raised-button appFeedback color="warn" (send)="onSend($event)">
        <mat-icon>bug_report</mat-icon>
        Report a problem
      </button>
    </div>
  </div>
  <img src="https://assets.orvium.io/get-answered.svg" class="left" alt="Get answered">
</div>
