<orv-access-denied *ngIf="!canInviteReviewers"></orv-access-denied>

<div *ngIf="canInviteReviewers">
  <div>
    <h2 class="mat-h2 primary">Invite Reviewers</h2>
    <p class="black">An invite email will be sent to the reviewer to review the publication.</p>
  </div>
  <div class="section" [formGroup]="inviteForm">
    <mat-form-field appearance="outline">
      <mat-label>Reviewer email</mat-label>
      <input matInput id="emailInput" formControlName="email" type="email" required>
    </mat-form-field>
  </div>
  <div align="right">
    <button mat-raised-button color="primary"
            [disabled]="!inviteForm.valid"
            (click)="createInvitation()"
            [routerLink]="['..','reviewers']">
      <mat-icon>send</mat-icon>
      Send invitation
    </button>
  </div>
</div>
