<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="userTypeFormGroup">
    <form [formGroup]="userTypeFormGroup" class="center-form" style="padding-top: 60px;">
      <ng-template matStepLabel>Select your profile</ng-template>
      <mat-button-toggle-group formControlName="userType" required name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [value]="USER_TYPE.student">
          <img src="https://assets.orvium.io/student.svg" alt="Student user">
          <p>Academic or student</p>
          <div class="mat-small">University members or institute's students.</div>
        </mat-button-toggle>
        <mat-button-toggle [value]="USER_TYPE.medical">
          <img src="https://assets.orvium.io/surgeon.svg" alt="Medical user">
          <p>Medical</p>
          <p class="mat-small">Healthcare professionals.</p>
        </mat-button-toggle>
        <mat-button-toggle [value]="USER_TYPE.business">
          <img src="https://assets.orvium.io/businesswoman.svg" alt="Corporate user">
          <p>Public or private institution</p>
          <p class="mat-small">R&D, product development, government or NGO roles.</p>
        </mat-button-toggle>
        <mat-button-toggle [value]="USER_TYPE.citizen" (click)="userInstitutionFormGroup.reset()">
          <img src="https://assets.orvium.io/man.svg" alt="Citizen">
          <p>Citizen</p>
          <p class="mat-small">Individuals interested in science.</p>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-error *ngIf="userTypeFormGroup.invalid">Please select one option</mat-error>
      <div>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userProfileFormGroup">
    <form [formGroup]="userProfileFormGroup" class="flex flex-direction-column center-form">
      <ng-template matStepLabel>Fill out your personal data</ng-template>
      <img ngxGravatar [md5Hash]="gravatar" [size]="120"/>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput id="firstNameInput" placeholder="First name" formControlName="firstName" required data-lpignore="true">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput id="lastNameInput" placeholder="Last name" formControlName="lastName" required data-lpignore="true">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="emailInput" placeholder="Email" formControlName="email" type="email" required email="true" data-lpignore="true">
        <mat-error *ngFor="let error of (userProfileFormGroup.get('email')?.errors || []) | keyvalue">
          Invalid email
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!userProfileFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userInstitutionFormGroup"
            *ngIf="userTypeFormGroup.get('userType')?.value != USER_TYPE.citizen">
    <form [formGroup]="userInstitutionFormGroup" class="flex flex-direction-column center-form">
      <ng-template matStepLabel>Fill out your institutional data</ng-template>
      <p>
        {{institution?.name}} {{institution?.country ? ' (' + institution.country + ')' : null}}</p>
      <ng-container *ngIf="institution == null">
        <p>
          It looks like you are the first user from your institution in our platform.
          Please complete this form and we will include your institution shortly.</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdqqBn0iVZ2tdfBKrce21FYX9uGpYakYleB-CNYuIwm_Cylsg/viewform?embedded=true"
                width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…
        </iframe>
      </ng-container>
      <div>
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!userProfileFormGroup.get('email')?.valid">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <div class="center-form" style="padding-top: 60px;">
      <ng-template matStepLabel>Done</ng-template>
      Thank you! Now we'll take you to your new Orvium profile.
      <div>
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button mat-flat-button color="primary" (click)="save()">Done</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
