<orv-access-denied *ngIf="!isOwner"></orv-access-denied>

<div *ngIf="isOwner">
  <h1 class="mat-display-1 primary">Edit Review</h1>
  <h3 class="mat-body-1">Edit, manage and share your "{{ deposit?.title }}" review.</h3>
  <mat-divider></mat-divider>
  <div [formGroup]="reviewForm" class="container">
    <div>
      <div class="main-section">
        <h2 class="mat-h2">Review Details</h2>
        <div class="sub-section">
          <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input formControlName="author" matInput required type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>General Comments</mat-label>
            <textarea cdkTextareaAutosize formControlName="comments" matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="main-section">
        <h2 class="mat-h2">Review Files</h2>
      </div>
      <div class="sub-section">
        <app-fileupload (click)="beforeUpload($event)"
                        (fileUpload)="filesUploaded($event)"
                        [maxFileSize]="20000000"
                        accept=".pdf,.doc,.docx,.txt,.jpeg,.jpg,.png,.gif,.md,.csv,.tex"
                        chooseLabel="Upload review (max. 20Mb)"
                        name="file"
                        url="{{environment.apiEndpoint}}/reviews/{{peerReview._id}}/file">
        </app-fileupload>
        <app-file-list [baseHref]="environment.apiEndpoint+'/reviews/'+peerReview._id+'/file'"
                       [files]="files">
        </app-file-list>
      </div>
      <div class="social publication-buttons">
        <button (click)="save()" [disabled]="reviewForm.pristine || peerReview.status == REVIEW_STATUS.published || !reviewForm.valid"
                color="primary"
                mat-button>
          <mat-icon>save</mat-icon>
          Save
        </button>
        <button (click)="delete()" [disabled]="peerReview.status == REVIEW_STATUS.published" color="primary" mat-button>
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <button (click)="publish()" [disabled]="peerReview.status == REVIEW_STATUS.published" color="primary"
                color="primary" mat-raised-button>
          <mat-icon>publish</mat-icon>
          Publish
        </button>
      </div>
    </div>
    <div class="side">
      <mat-card class="side-card noshadow">
        <mat-card-title class="primary">Decision</mat-card-title>
        <mat-card-subtitle>
          Know more about review decisions <a href="https://help.orvium.io/reviews/reviewers-code/#decision-types"
                                              target="_blank">here</a>.
        </mat-card-subtitle>
        <mat-card-content class="side-card-content">
          <mat-form-field appearance="outline" class="flex-grow-1">
            <mat-label>Decision</mat-label>
            <mat-select formControlName="decision" id="reviewDecisionInput">
              <mat-select-trigger>{{reviewForm.get('decision')?.value | titlecase}}</mat-select-trigger>
              <mat-option *ngFor="let decision of reviewDecisionLov" [value]="decision.value">
                <div matTooltip="{{decision.description}}">
                  <mat-icon>{{decision.icon}}</mat-icon>
                  {{decision.viewValue}}
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="ethereumService.isAvailable | async" class="side-card noshadow">
        <mat-card-title class="primary">Blockchain</mat-card-title>
        <mat-card-subtitle>Use the blockchain to access extra features such as proving of the ownership of your work and get rewards for
          the peer reviews you make.
        </mat-card-subtitle>
        <mat-card-content class="side-card-content">
          <h3 class="mat-body-1">
            - Save the Ownership of your review storing your authorship in the blockchain:
          </h3>
          <a *ngFor="let transaction of (peerReview.transactions || []) | keyvalue"
             class="green"
             href="{{ this.blockchainService.getNetworkByName(transaction.key.toString())?.explorerUrl + $any(transaction.value).transactionHash }}"
             mat-button
             target="_blank">
            <mat-icon aria-hidden="false" aria-label="Published icon">verified_user</mat-icon>
            Proof of Ownership in {{ this.blockchainService.getNetworkByName(transaction.key.toString())?.displayName }}</a>
          <button
            (click)="proofOwnership()"
            [disabled]="!peerReview.file?.filename ||
            (!!peerReview.transactions &&
            this.ethereumService.currentNetwork && this.ethereumService.currentNetwork.value &&
            !!peerReview.transactions[this.ethereumService.currentNetwork.value.name])"
            color="accent"
            mat-raised-button>
            <mat-icon>verified_user</mat-icon>
            Save Ownership
            <orv-spinner name="spinnerProof" [fullScreen]="false"></orv-spinner>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
