mat-card {
  margin: 0.5em;
  text-align: left;
}

mat-card-actions {
  text-align: center;
}

table {
  width: 100%;
}

button {
  margin: 10px;
}

.avatar {
  margin: 5px;
  display: inline-flex;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.publicationButton{
  margin: 10px;
  border: 20px;
}
