.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.toolbar {
  place-self: start stretch;
  display: grid;
}

.footer {
  place-self: end stretch;
}

.sidenav {
  overflow: hidden;
}

.content {
  padding: 3em;
  overflow: scroll;
  box-sizing: border-box;
}

// Mobile
@media (max-width: 768px) {
  .content {
    padding: 1em;
  }
}
