<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Draft</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pending Approval</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel *ngIf="deposit.status!=='preprint'">In review</ng-template>
    <ng-template matStepLabel *ngIf="deposit.status=='preprint'">Preprint</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Published</ng-template>
  </mat-step>
</mat-horizontal-stepper>
<div class="container">
  <div class="main">
    <div class="flex">
      <div class="mat-h1 primary">{{ deposit.title }} [Version {{ deposit.version}}]
        <button *ngIf="canManageDeposit" mat-icon-button [routerLink]="['/deposits',deposit._id,'edit']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="getCitations()">
          <mat-icon>format_quote</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon *ngIf="isStarred" (click)="star()"
                    matTooltip="Unstar '{{deposit.title}}'" class="accent"
                    aria-hidden="false" aria-label="Starred icon">
            star
          </mat-icon>
          <mat-icon *ngIf="!isStarred" (click)="star()"
                    matTooltip="Star '{{deposit.title}}'" aria-hidden="false"
                    aria-label="Unstar icon">
            star_border
          </mat-icon>
        </button>
      </div>

    </div>
    <div *ngIf="deposit.authors" class="row mat-body">
      <span>{{ deposit.publicationDate | date: 'd MMM yyyy' }} | By </span>
      <app-author-button *ngFor="let author of deposit.authors"
                         [author]="author">
      </app-author-button>
    </div>
    <div class="row mat-body">
      <mat-chip-list>
        <mat-chip color="primary" selected *ngFor="let discipline of deposit.disciplines">{{discipline}}</mat-chip>
      </mat-chip-list>
    </div>
    <mat-card *ngIf="deposit.abstract" class="abstract">
      <mat-card-header>
        <mat-card-title>Abstract</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{deposit.abstract}}
      </mat-card-content>
    </mat-card>
    <p *ngIf="deposit.html" class="info-paper-html">&nbsp;&nbsp;*Content automatically extracted from the publication file</p>
    <div class="paper-html" *ngIf="deposit.html" [innerHTML]="deposit.html"></div>
  </div>
  <div class="side">
    <div class="box" *ngIf="deposit.community">
      <a [routerLink]="['/communities', deposit.community._id, 'view']">
        <img src="{{deposit.community.logoURL}}" alt="Community Logo"
             class="orv-community-logo"/>
      </a>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Files</h2>
      <div *ngFor="let file of files">
        <a mat-button href="{{environment.apiEndpoint}}/deposits/{{deposit._id}}/files/{{file.filename}}"
           target="_blank">
          <fa-icon class="primary" [icon]="file.contentType.includes('word') ? 'file-word' :
                                       file.contentType.includes('pdf') ? 'file-pdf' :
                                       file.contentType.includes('csv') ? 'file-csv' :
                                       file.contentType.includes('image') ? 'file-image' :
                                       file.contentType.includes('x-tex') ? 'file-code' :
                                       file.contentType.includes('text') ? 'file-alt' :
                                       file.contentType.includes('rtf') ? 'file-alt' : 'file'" size="lg">
          </fa-icon>
          {{file.filename | shorten:30}}
          <span *ngIf="file.filename==deposit.publicationFile?.filename"
                class="badge badge-impact">Publication</span>
        </a>
      </div>
      <div class="orv-button-group">
        <a *ngIf="deposit.pdfUrl" mat-flat-button color="primary"
           href="{{environment.apiEndpoint}}/deposits/{{deposit._id}}/pdf"
           target="_blank" download="{{deposit.title}}">Download PDF</a>
      </div>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Reviews</h2>
      <app-deposits-reviews-table *ngIf="deposit.peerReviews"
                                  [reviews]="deposit.peerReviews" [basic]="true">
      </app-deposits-reviews-table>
      <div class="orv-button-group">
        <button *ngIf="canCreateReview" mat-raised-button color="primary"
                (click)="createReview()">
          <mat-icon>rate_review</mat-icon>
          Create Review
        </button>
        <button *ngIf="canInviteReviewers" class="" mat-raised-button color="primary"
                [routerLink]="['..','reviewers']">
          <mat-icon>mail</mat-icon>
          Invite Reviewers
        </button>
      </div>
    </div>
    <div class="box">
      <app-deposit-versions [deposits]="depositVersions"></app-deposit-versions>
      <div class="orv-button-group">
        <button *ngIf="canCreateVersion" mat-raised-button class="button" color="primary" (click)="createRevision()">
          <mat-icon>import_contacts</mat-icon>
          Create version
        </button>
      </div>
    </div>
    <div *ngIf="deposit.references && deposit.references.length>0" class="box">
      <h2 class="mat-h2 primary">References</h2>
      <ol>
        <li *ngFor="let reference of deposit.references" class="mat-caption">
          {{reference.reference}}
          <a mat-icon-button *ngIf="reference.url" href="{{reference.url}}" target="_blank">
            <mat-icon>
              open_in_new
            </mat-icon>
          </a>
        </li>
      </ol>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Keywords</h2>
      <mat-chip-list>
        <mat-chip class="mat-body" *ngFor="let key of deposit.keywords">{{key}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Details</h2>
      <ul class="mat-body">
        <li *ngIf="deposit.doi">DOI:
          <span class="primary">{{deposit.doi}}</span>
        </li>
        <li>Access type:
          <span class="primary">
            <a class="primary" href="https://help.orvium.io/licenses/"
               target="_blank">{{deposit.accessRight | titlecase}}</a></span>
        </li>
        <li>Review type:
          <span class="primary">{{deposit.reviewType | titlecase}}</span>
        </li>
        <li>Publication type:
          <span class="primary">{{deposit.publicationType | titlecase}}</span>
        </li>
        <li>Publication date:
          <span class="primary">{{deposit.publicationDate |  date:'d MMMM yyyy'}}</span>
        </li>
      </ul>
    </div>
    <div class="box" *ngIf="canModerateDeposit">
      <h2 class="mat-h2 primary">Moderate</h2>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select #statusSelect [value]="deposit.status">
          <mat-option *ngFor="let option of DEPOSIT_STATUS_LOV" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="orv-button-group">
        <button mat-raised-button color="primary"
                (click)="setStatus(statusSelect.value)">Change
        </button>
      </div>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Share</h2>
      <div class="social">
        <button mat-fab shareButton="facebook"
                [style.backgroundColor]="share.prop.facebook?.color || 'blue'">
          <fa-icon [icon]="['fab', 'facebook-f']" size="lg"></fa-icon>
        </button>
        <button mat-fab shareButton="twitter" description="{{twitterDescription}}"
                [style.backgroundColor]="share.prop.twitter?.color || 'blue'">
          <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
        </button>
        <button mat-fab shareButton="linkedin"
                [style.backgroundColor]="share.prop.linkedin?.color || 'blue'">
          <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #citationModal identifier="citationModal" class="modal">
  <h2 class="mat-h2 primary">Citation</h2>
  <p *ngIf="citation" class="black">{{citation.apa}}
    <button mat-button matSuffix mat-icon-button aria-label="Copy"
            [appCopyToClipboard]="citation.apa">
      <mat-icon>content_copy</mat-icon>
    </button>
  </p>
  <a mat-stroked-button color="primary" class="button-invite"
     href="{{environment.apiEndpoint}}/deposits/{{deposit._id}}/bibtex"
     target="_blank">BibTeX</a>
</ngx-smart-modal>
