<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Draft</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pending Approval</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel *ngIf="deposit.status!=='preprint'">In review</ng-template>
    <ng-template matStepLabel *ngIf="deposit.status=='preprint'">Preprint</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Published</ng-template>
  </mat-step>
</mat-horizontal-stepper>
<div class="container">
  <div class="main">
    <div class="flex">
      <div class="mat-h1 primary">{{ deposit.title }} [Version {{ deposit.version}}]
        <button *ngIf="canManageDeposit" mat-icon-button [routerLink]="['/deposits',deposit._id,'edit']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="getCitations()">
          <mat-icon>format_quote</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon *ngIf="isStarred" (click)="star()"
                    matTooltip="Unstar '{{deposit.title}}'" class="accent"
                    aria-hidden="false" aria-label="Starred icon">
            star
          </mat-icon>
          <mat-icon *ngIf="!isStarred" (click)="star()"
                    matTooltip="Star '{{deposit.title}}'" aria-hidden="false"
                    aria-label="Unstar icon">
            star_border
          </mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="deposit.authors" class="row mat-body">
      <span>{{(deposit.publicationDate | date:'dd MMMM yyyy') || (deposit.submissionDate | date:'dd MMMM yyyy')}} | By </span>
      <orv-author-button *ngFor="let author of deposit.authors" [author]="author"
                         [showMenu]="(author.orcid || author.credit && author.credit.length > 0) ? true : false"></orv-author-button>
    </div>
    <div class="row mat-body">
      <mat-chip-list>
        <mat-chip color="primary" selected *ngFor="let discipline of deposit.disciplines">{{discipline}}</mat-chip>
      </mat-chip-list>
    </div>
    <mat-card *ngIf="deposit.abstract" class="abstract">
      <mat-card-header>
        <mat-card-title class="primary">Abstract</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-body-1" style="text-align: justify;">
        {{deposit.abstract}}
      </mat-card-content>
    </mat-card>
    <mat-expansion-panel *ngIf="deposit.html" [expanded]="true">
      <mat-expansion-panel-header>
        <div>
          <h2 class="mat-h2 primary">
            <mat-icon class="primary">article</mat-icon>
            Publication Content
          </h2>
        </div>
      </mat-expansion-panel-header>
      <p *ngIf="deposit.html" class="info-paper-html">&nbsp;&nbsp;*Content automatically extracted from the publication file</p>
      <div class="paper-html" *ngIf="deposit.html" [innerHTML]="deposit.html">
      </div>
      <h2 class="mat-h2 primary" *ngIf="images.length > 0">Figures ({{images.length}})</h2>
      <div *ngIf="images.length > 0" class="flex-wrap">
        <img *ngFor="let image of images; let i=index" [src]="image.src" class="deposit_image pointer"/>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="deposit.references && deposit.references.length > 0">
      <mat-expansion-panel-header>
        <div>
          <h2 class="mat-h2 primary">
            <mat-icon class="primary">launch</mat-icon>
            References
          </h2>
        </div>
      </mat-expansion-panel-header>
      <ol>
        <li *ngFor="let reference of deposit.references" class="mat-body-1">
          <a *ngIf="reference.url" href="{{reference.url}}" target="_blank" class="click-link">{{reference.reference}}</a>
          <span *ngIf="!reference.url">{{reference.reference}}</span>
        </li>
      </ol>
    </mat-expansion-panel>
  </div>
  <div class="comments" *ngIf="deposit.status != DEPOSIT_STATUS.pendingApproval && deposit.status != DEPOSIT_STATUS.draft">
    <h2 class="mat-h2 primary">Comments ({{deposit.comments.length}})</h2>
    <app-comments [comments]="deposit.comments"
                  (newComment)="addComment($event)"
                  (delete)="deleteComment($event)"
                  [canModerate]="canModerateDeposit" [profile]="profile"></app-comments>
  </div>
  <div class="side">
    <div class="box" *ngIf="deposit.community">
      <a [routerLink]="['/communities', deposit.community._id, 'view']">
        <img src="{{deposit.community.logoURL}}" alt="Community Logo"
             class="orv-community-logo"/>
      </a>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Files</h2>
      <div *ngFor="let file of files">
        <a mat-button
           href="{{file.presignedURL || environment.apiEndpoint+'/deposits/'+deposit._id+'/files/'+file.filename}}"
           target="_blank">
          <fa-icon class="primary" [icon]="file.contentType.includes('word') ? 'file-word' :
                                       file.contentType.includes('pdf') ? 'file-pdf' :
                                       file.contentType.includes('csv') ? 'file-csv' :
                                       file.contentType.includes('image') ? 'file-image' :
                                       file.contentType.includes('x-tex') ? 'file-code' :
                                       file.contentType.includes('text') ? 'file-alt' :
                                       file.contentType.includes('rtf') ? 'file-alt' : 'file'" size="lg">
          </fa-icon>
          {{file.filename | shorten:30}}
          <span *ngFor="let tag of file.tags"
                class="badge badge-impact">{{tag}}</span>
        </a>
      </div>
      <a mat-icon-button class="git" *ngIf="deposit.gitRepository" href="{{deposit.gitRepository}}" target="_blank">
        <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
        <a href="{{deposit.binderURL}}" target="_blank"> Open in Binder</a>
      </a>
      <div class="orv-button-group">
        <a *ngIf="deposit.pdfUrl" mat-flat-button color="primary"
           href="{{deposit.presignedPDFURL || environment.apiEndpoint+'/deposits/'+deposit._id+'/pdf'}}"
           target="_blank" download="{{deposit.title}}">Download PDF</a>
      </div>
    </div>
    <div *ngIf="deposit.canBeReviewed" class="box">
      <h2 class="mat-h2 primary">Reviews</h2>
      <app-deposits-reviews-table *ngIf="deposit.peerReviews && deposit.peerReviews.length > 0"
                                  [reviews]="deposit.peerReviews" [basic]="true">
      </app-deposits-reviews-table>
      <div class="orv-button-group">
        <div *ngIf="canCreateReview">
          <button *ngIf="!hasBeenInvitedToReview" mat-raised-button color="primary"
                  (click)="createReview()">
            <mat-icon>rate_review</mat-icon>
            Create Review
          </button>
          <button *ngIf="hasBeenInvitedToReview" mat-raised-button color="primary"
                  [routerLink]="['/reviews', 'myreviews']">
            <mat-icon>rate_review</mat-icon>
            My Reviews
          </button>
        </div>
        <button *ngIf="canInviteReviewers" class="" mat-raised-button color="primary"
                [routerLink]="['..','reviewers']">
          <mat-icon>mail</mat-icon>
          Invite Reviewers
        </button>
      </div>
      <p *ngIf="hasBeenInvitedToReview" class="mat-card-subtitle" style="margin-top: 1em;">*You have been invited to review this
        publication. Go to <a class="primary" [routerLink]="['/reviews', 'myreviews']">My Reviews</a> to accept or decline the invitation.
      </p>
    </div>
    <div class="box">
      <app-deposit-versions [deposits]="depositVersions"></app-deposit-versions>
      <div class="orv-button-group">
        <button *ngIf="canCreateVersion" mat-raised-button class="button" color="primary" (click)="createRevision()">
          <mat-icon>import_contacts</mat-icon>
          Create version
        </button>
      </div>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Keywords</h2>
      <mat-chip-list>
        <mat-chip class="mat-body" *ngFor="let key of deposit.keywords">{{key}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="box" *ngIf="canModerateDeposit">
      <h2 class="mat-h2 primary">Moderate</h2>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select #statusSelect [value]="deposit.status">
          <mat-option *ngFor="let option of DEPOSIT_STATUS_LOV" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="orv-button-group">
        <button mat-raised-button color="primary"
                (click)="setStatus(statusSelect.value)">Change
        </button>
      </div>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Details</h2>
      <ul class="mat-body-1">
        <li *ngIf="deposit.doi">DOI:
          <a class="primary"
             target="_blank"
             href="https://doi.org/{{deposit.doi}}">{{deposit.doi}}</a>
        </li>
        <li>License:
          <span>
            <a class="primary click-link" href="https://help.orvium.io/licenses/"
               target="_blank">{{deposit.accessRight | uppercase}}
              <mat-icon class="black" style="font-size: 1em;">help_outline</mat-icon></a></span>
        </li>
        <li *ngIf="deposit.canBeReviewed">Review type:
          <span class="primary">{{deposit.reviewType | titlecase}}</span>
        </li>
        <li>Publication type:
          <span class="primary">{{deposit.publicationType | titlecase}}</span>
        </li>
        <li>Submission date:
          <span class="primary">{{deposit.submissionDate |  date:'d MMMM yyyy'}}</span>
        </li>
        <li *ngIf="deposit.publicationDate">Publication date:
          <span class="primary">{{deposit.publicationDate |  date:'d MMMM yyyy'}}</span>
        </li>
      </ul>
      <div align="center">
        <a href="https://creativecommons.org/licenses/" target="_blank">
          <fa-icon [icon]="['fab', 'creative-commons']" size="lg"></fa-icon>
          <fa-icon *ngIf="deposit.accessRight === ACCESS_RIGHT.CC0" [icon]="['fab', 'creative-commons-zero']" size="lg"
                   [matTooltip]="ACCESS_RIGHT.CC0 | uppercase"></fa-icon>
          <fa-icon *ngIf="deposit.accessRight === ACCESS_RIGHT.CCBY" [icon]="['fab', 'creative-commons-by']" size="lg"
                   [matTooltip]="ACCESS_RIGHT.CCBY | uppercase"></fa-icon>
          <fa-icon *ngIf="deposit.accessRight === ACCESS_RIGHT.CCBYND" [icon]="['fab', 'creative-commons-nd']" size="lg"
                   [matTooltip]="ACCESS_RIGHT.CCBYND | uppercase"></fa-icon>
        </a>
      </div>
    </div>
    <div class="box" *ngIf="deposit.openAireIdentifier">
      <h2 class="mat-h2 primary">Indexed in</h2>
      <a href="https://explore.openaire.eu/search/publication?articleId={{deposit.openAireIdentifier}}" target="_blank">
        <img class="openaire" src="https://assets.orvium.io/openAIRE_logo.png">
      </a>
    </div>
    <div class="box">
      <h2 class="mat-h2 primary">Share</h2>
      <div class="social">
        <button mat-fab shareButton="facebook"
                [style.backgroundColor]="share.prop.facebook?.color || 'blue'">
          <fa-icon [icon]="['fab', 'facebook-f']" size="lg"></fa-icon>
        </button>
        <button mat-fab shareButton="twitter" description="{{twitterDescription}}"
                [style.backgroundColor]="share.prop.twitter?.color || 'blue'">
          <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
        </button>
        <button mat-fab shareButton="linkedin"
                [style.backgroundColor]="share.prop.linkedin?.color || 'blue'">
          <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #citationModal identifier="citationModal" class="modal">
  <h2 class="mat-h2 primary">Citation</h2>
  <p *ngIf="citation" class="black">{{citation.apa}}
    <button mat-button matSuffix mat-icon-button aria-label="Copy"
            [appCopyToClipboard]="citation.apa">
      <mat-icon>content_copy</mat-icon>
    </button>
  </p>
  <a mat-stroked-button color="primary" class="button-invite"
     href="{{environment.apiEndpoint}}/deposits/{{deposit._id}}/bibtex"
     target="_blank">BibTeX</a>
</ngx-smart-modal>
