<div>
  <mat-card class="paper">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="accent" aria-hidden="false" aria-label="Starred icon">star</mat-icon>
        Starred publications
      </mat-card-title>
      <mat-card-subtitle>All your favorite publications:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
      </mat-form-field>
      <mat-table mat-table [dataSource]="starredDeposits">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="textThemeColor" [routerLink]="['/deposits/' + element._id + '/view']">{{ element.title }}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="publicationType">
          <mat-header-cell *matHeaderCellDef class="orv-mobile-hidden">Type</mat-header-cell>
          <mat-cell *matCellDef="let element" class="orv-mobile-hidden">{{ element.publicationType |titlecase }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="orv-mobile-hidden">Status</mat-header-cell>
          <mat-cell *matCellDef="let element" class="orv-mobile-hidden">
            <mat-chip-list>
              <mat-chip class="chip-{{element.status.replace(' ', '-')}}">
                <strong>{{ element.status | titlecase}}</strong>
              </mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
