.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
}

mat-card {
  text-align: left;
}

.mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: inherit;
}

.mat-input-element:disabled {
  color: inherit;
}

fa-icon {
  color: white;
}
