<div class="content">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>speed</mat-icon>
      <mat-card-title>Dashboard coming soon!</mat-card-title>
      <mat-card-subtitle>Features request</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Our dev team is working hard to bring you new features</p>
      <p>like this dashboard, meanwhile, tell us what would </p>
      <p>you like to find here using the button below.</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
