mat-icon {
  display: inline-flex;
  vertical-align: middle;
}

.community-button-panel {
  display: flex;
  justify-content: center;

  button, a {
    margin: 1rem;
  }
}

.community-metrics {
  text-align: center;

  > span {
    margin: 0.5rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 0fr;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    "recent logo"
    "recent moderators"
    "recent information";
}

.recent {
  grid-area: recent;
  margin-bottom: 20px;
  width: 80%;
}

.information {
  grid-area: information;
}

.moderators {
  grid-area: moderators;
  width: 100%;
}

.logo {
  grid-area: logo;
}

.moderators-info {
  display: inline-flex;
}

.mat-list-item {
  margin-bottom: 0.7em;
}

.pointer {
  margin-right: 1em;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "logo"
      "recent"
      "moderators"
      "information";
  }

  .recent {
    width: 100%;
  }
}
