@import '~@angular/material/theming';
@import 'light-theme.scss';
@import 'light-red-theme.scss';
@import 'dark-theme.scss';

$dialog-position-top: 50%;

@import "~ngx-smart-modal/ngx-smart-modal";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@import 'styles/snackbar';
@import 'styles/flex';
@import 'styles/chips';
@import 'styles/badges';

.light-theme {
  @include angular-material-theme($light-theme);

  .primary {
    color: mat-color($light-theme-primary);
  }

  .accent {
    color: mat-color($light-red-theme-accent);
  }

  .warn {
    color: mat-color($light-theme-warn);
  }

  .pink {
    color: #e8ddff;
  }

  .textThemeColor {
    color: black;
  }

  .backgroundColor {
    background-color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.dark-theme {
  @include angular-material-theme($dark-theme);

  .primary {
    color: mat-color($dark-theme-primary);
  }

  .accent {
    color: mat-color($dark-theme-accent);
  }

  .warn {
    color: mat-color($dark-theme-warn);
  }

  .textThemeColor {
    color: white;
  }

  .backgroundColor {
    background-color: #424242;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

//
// Global classes
//

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

table {
  width: 100%;
}

ul, ol {
  padding-inline-start: 2rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.green {
  color: #28b463;
}

.red {
  color: #e3645b;
}

.black {
  color: black;
}

.white {
  color: white;
}

.dialogButton {
  margin: 10px !important;
  float: right;
}

.pointer {
  cursor: pointer;
}

.justify-content-center {
  justify-content: center;
}

.noshadow {
  box-shadow: none !important;
}

.whitespace-pre-line {
  white-space: pre-line;
}

//
// Muak UI
//
.grey {
  color: #8798ad;
}

.success {
  color: white !important;
  background-color: #28b463 !important;
}

.text-align-center {
  text-align: center;
}

.orv-metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  margin: 3em;
}

.orv-box-metrics {
  grid-column-start: 2;
  text-align: center;

  mat-card-header {
    justify-content: center;
  }

  mat-icon {
    font-size: 70px !important;
  }
}

@mixin side-nav-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  // Define any styles affected by the theme.
  .active-link {
    @extend .active-sub-link;

    border-left: 3px solid mat-color($primary) !important;

    mat-panel-description {
      color: mat-color($primary) !important;
    }
  }

  .active-sub-link {
    color: mat-color($primary) !important;

    mat-icon {
      color: mat-color($primary) !important;
    }
  }
}

@mixin side-nav-theme($theme) {
  // Extracts the color and typography configurations from the theme.
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  // Do not generate styles if configurations for individual theming
  // systems have been explicitly set to `null`.

  @if $color != null {
    @include side-nav-color($color);
  }
}

@include side-nav-theme($light-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Source Sans Pro, Arial, sans-serif',
  $display-3: mat-typography-level(3rem, 3.5rem, 500),
  $headline: mat-typography-level(2rem, 2.5rem, 500),
  $body-1: mat-typography-level(16px, 24px, 300),
  $button: mat-typography-level(16px, 24px, 300)
);

@include mat-core($custom-typography);

* {
  font-family: Source Sans Pro, Arial, sans-serif;
}

.mat-h2 {
  margin-bottom: 0.4rem;
}

.mat-display-1 {
  margin-bottom: 0.8rem;
}

.mat-display-3 {
  margin-bottom: 0.8rem;
}

// Mat Cards
.mat-card-title {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.mat-card-subtitle {
  font-size: 0.85rem;
  margin-bottom: 0.5rem !important;
}

.mat-card-header {
  margin-bottom: 0.5rem;
  align-items: center;
}

mat-card-actions {
  text-align: center;
}

// Social
.social {
  text-align: center;
  //padding-top: 15px;
  //min-width: 200px;

  button, a {
    margin: 1rem;
  }

  fa-icon {
    color: white;
  }
}

.orv-side-card {
  margin-bottom: 1rem;
}

.orv-community-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: auto;
  height: 25vh;
}

.orv-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button, a {
    width: 180px; //TODO this fixed width might cause problems, check it
    margin: 10px;
  }
}

// Mobile
@media (max-width: 768px) {
  .mat-display-3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .mat-display-1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .mat-h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .orv-mobile-table-collum {
    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .orv-mobile-hidden {
    display: none !important;
  }

  .orv-metrics {
    grid-template-columns: 1fr;
  }

  .orv-box-metrics {
    grid-column-start: 1;
  }
}
