<div class="container">
  <h1 *ngIf="deposits.length === 0"
      class="mat-h1 primary text-align-center">No deposits found for search: '{{query}}'.</h1>
  <h1 *ngIf="deposits.length > 0"
      class="mat-h1 primary text-align-center">Search Publications</h1>
  <div class="deposits-with-paginator">
    <app-deposits-list
      [deposits]="deposits"
    ></app-deposits-list>
    <mat-paginator [length]="totalDeposits"
                   [pageSize]="10"
                   (page)="paginate($event)">
    </mat-paginator>
  </div>
</div>
