<div class="exit-container">
  <mat-card>
    <mat-card-header class="exit-header">
      <mat-card-title>Access Denied</mat-card-title>
      <mat-card-subtitle>Unauthorized</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Sorry, you are not authorized to access this page.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/']">
        <mat-icon>exit_to_app</mat-icon>
        Exit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
